@layout('layout/master')

@section('body')
  <div id="app-root"></div>
@end

@section('script')
<script>
  const pageData = {
    user: JSON.parse(`{{{stringify(user)}}}`),
    token: '{{ token }}',
  }
</script>
@end