<div class="card drop-area" id="drop-area">
  <div class="card-body">
    <form class="my-form">
      <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
      <input type="file" id="file-input" multiple accept="image/*">
      <label class="button" for="file-input">Select some files</label>
    </form>
  </div>
</div>
