<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title || 'Home'}} - Awe Transfer</title>
    
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
  </head>
  <body>
   {{--  @include('include/header')  --}}
   @!section('body')

   @!section('script')
   <script src="{{ asset('assets/app.js') }}"></script>

  </body>
</html>
