// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #dbdbdb;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$alice-blue: #eff5fb;
$white: #ffffff;
$tufts-blue: #3e8ed0;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: $brown;
$input-shadow: none;

// Navbar

$navbar-item-color: $link;